<div class="product-cart" *ngIf="cartItems && cartItems.length > 0">
  <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <h3>Shopping Cart</h3>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of cartItems">
        <!-- <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" /> -->
        {{ item.name }}
        <span>{{ item.price | currency: 'EUR' }}</span>
        <button
          mat-stroked-button
          color="warn"
          (click)="removeItemFromCart(item.id)"
        >
          <i class="material-icons">
            remove_shopping_cart
          </i>
          <span aria-hidden="true">&times;</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <div class="cart-total">
      <p>
        <button mat-raised-button color="warn" (click)="emptyCart()">
          <i class="material-icons">
            delete_forever
          </i>
          Empty Cart
        </button>
      </p>
      <p class="text-right">
        <strong class="d-block">Total:</strong>
        <span class="d-block">{{ totalAmmount | currency: 'EUR' }}</span>
      </p>
    </div>
  </div>
</div>
