<mat-card>
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" />
    </div>
    <div class="form-group">
      <button
        mat-fab
        color="primary"
        type="submit"
      >
        Add
      </button>
    </div>
  </form>
</mat-card>

<!-- 
  (click)="addToCatalog($event, product.id)" -->
