<!-- <div class="container">
  <app-nav-bar></app-nav-bar>
  <app-catalog></app-catalog>
  <app-form></app-form>
  <app-shopping-cart></app-shopping-cart>
</div> -->

<div class="App">
  <div>
    <app-nav-bar></app-nav-bar>
    <app-form></app-form>
    <!-- <app-catalog [products]="products"></app-catalog> -->
    <app-catalog ></app-catalog>
    <app-cart></app-cart>
  </div>
</div>
