<div class="navbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Video Games Cat</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="#" mat-button>List of Games</a>
        <a href="#" mat-button>Add a Game</a>
      </div>
      <a href="#" fxLayoutAlign="end end" mat-button>Shop</a>
      <em>{{ cartProductCount }}</em>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
