<div class="catalog-container" *ngIf="catalogItems && catalogItems.length > 0">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxFlexFill
    fxLayoutAlign="space-around"
    s
  >
    <div *ngFor="let item of catalogItems; let i = index">
      <mat-card class="game-card">
        <mat-card-header>
          <mat-card-title>NAME : {{ item.name }}</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="{{ product.image }}" alt="image of game" /> -->
        <mat-card-content>
          <h4>Pitch :</h4>
          <p>
            {{ item.description }}
          </p>
          <h4>Price :</h4>
          <p class="card-text">{{ item.price | currency: 'EUR' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="addToCart($event, item.id)"
          >
            <i class="material-icons">
              add_shopping_cart
            </i>
            ADD
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


<!-- [ngClass]="this.isAdded[i] ? 'mat-stroked-button' : 'mat-raised-button'" -->
